/*Imports the font*/
@font-face{
    font-family: Vertigo;
    src: url('fonts/VertigoFlf.ttf');
}

@font-face{
    font-family: Prisma;
    src: url('fonts/Prisma.ttf');
}

/*Imports the font*/
@font-face{
    font-family: Vertigo;
    src: url('fonts/VertigoFlf.ttf');
}

@font-face{
    font-family: Saucer;
    src: url('fonts/SaucerBB.ttf');
}
