/*Background colour*/
body{
  background-color: #1a1a1a;
  margin: 0px;
}

/*Nav bar*/
ul {
  z-index: 2;
  list-style-type: none;
  padding-top: 10px;
  margin: 0;
  overflow: visible;
  background-color: #f2f2f2;
  text-align: center;
  /*Makes the nav bar fixed to the top*/
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  font-family: heading, "Berlin Sans FB";
  font-size: 18px;
  display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

li.dropdown {
    display: inline-block;
    transition-duration: 0.4s;
}

li a:hover, .dropdown:hover .dropbtn {
    color: red;
}

.dropdown-content {
  font-size: 15px;
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    min-width: 160px;
    border: 1px solid #b3b3b3;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Content*/
/*Slider*/
.slider{
  margin-top: 50px;
  padding-bottom: 20px;
}

/*Second row*/
.second-row{
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
}

/*.second-row a{
  display: inline-block;
}*/

.second-row img{
  border-radius: 4px;
  margin: 5px 5px 10px 5px;
}

/*Footer*/
.footer{
  font-family: normal, "Berlin Sans FB";
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
  bottom: 0;
  overflow: hidden;
}

.leftbtn{
  margin-left: 20px;
}

.rightbtn{
  margin-left: 10px;
}

.floating{
  top: 30%;
  /*transform: translate(0%,-170%);*/
  color: black;
  font-family: Saucer, "Berlin Sans FB";
  display: inline-block;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: transform 0.2s ease;
}

.floating:hover{
  transform: scale(1.1);
}

/*Fading animation*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
