.update{
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  font-family: normal, "Berlin Sans FB";
  margin-top: 58px;
  margin-left: 300px;
  margin-right: 300px;
}

.update-content{
  margin-left: 75px;
  margin-right: 75px;
}

.date{
  font-size: 15px;
  color: grey;
}

h1, h2{
  font-family: heading, "Berlin Sans FB", "Comic Sans";
}