body{
  background-color: #1a1a1a;
}

.bio{
  border-radius: 4px;
  margin-top: 58px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Berlin Sans FB";
  background-color: #f2f2f2;
  height: 100%;
}

.bio-content{
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2{
  font-family: "Berlin Sans FB";
}

p{
  color: #404040;
  font-size: 15px;
}
