body{
  background-color: #1a1a1a;
}

.bio{
  border-radius: 4px;
  margin-top: 58px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Berlin Sans FB";
  background-color: white;
  height: 100%;
}

.bio-content{
  margin-left: 75px;
  margin-right: 75px;
}

h1, h2{
  font-family: Saucer, "Berlin Sans FB";
}

p{
  color: #404040;
  font-size: 15px;
}
